.action-checkbox {
  position: relative;
  .action-checkbox-content {
    position: absolute;
    .title {
      padding: 21px 23px;
      border-bottom: 1px solid #DFE1E6;
    }
    .action {
      display: flex;
      align-items: center;
      cursor: pointer;
      .checkbox {
        margin-left: auto;
        border: 1.2px solid #393939;
        width: 22px;
        height: 22px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        .checked {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          background: #000000;
        }
      }
    }
    .button {
      border: none;
    }
  }
}