@font-face {
  font-family: hk-grotesk-light;
  src: url(./hkgrotesk/HKGrotesk-Light.otf);
}
@font-face {
  font-family: hk-grotesk;
  src: url(./hkgrotesk/HKGrotesk-Regular.otf);
}
@font-face {
  font-family: hk-grotesk-medium;
  src: url(./hkgrotesk/HKGrotesk-Medium.otf);
}
@font-face {
  font-family: hk-grotesk-semibold;
  src: url(./hkgrotesk/HKGrotesk-SemiBold.otf);
}
@font-face {
  font-family: hk-grotesk-bold;
  src: url(./hkgrotesk/HKGrotesk-Bold.otf);
}

// HK Grotesk-Light = 300
// HK Grotesk-Regular = 400
// HK Grotesk-Medium = 500
// HK Grotesk-SemiBold = 600
// HK Grotesk-Bold = 700