.modal-centered {
  @import "styles/rootStyles.scss";
  width: 330px;
  height: 229px;
  h5 {
    margin-top: 12px;
    margin-bottom: 7px;
    text-align: center;
  }
  p {
    text-align: center;
  }

  #image-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 24px;
    min-width: 24px;
  }

  #close-x {
    display: block;
    margin-left: auto;
    cursor: pointer;
  }
}
