
  
.fade-enter {
    opacity: 0;
    transform: translateY(100%);
    transition: 200ms ease;
}

.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: 500ms ease;
}

.fade-exit {
    opacity: 0;
    transform: translateY(-100%);
    transition: 500ms ease;
}
  