.select-dropdown-main {
  .dropdown-menu {
    padding: 0 !important;
    max-height: 286px;
    height: fit-content;
    overflow: auto;
    border: 0px;
    &.direction-right {
      left: 100%;
      transform: translateY(-100%);
    }
    .icon {
      width: 16px;
      height: 16px;
      &.arrow {
        width: 12px;
        height: 12px;
      }
    }
    .dropdown-item {
      color: #1a1a1a;
      padding: 8px;
      font-size: 15px;
      cursor: pointer;
      display: flex;
    }
    .dropdown-item.active,
    .dropdown-item:active {
      background: #F5F5F5;
    }
  }

  .dropdown-trigger {
    button {
      height: 40px;
      width: 290px;
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid #e6e6e6;
      border-radius: 2px;
      color: #000000;

      p {
        max-width: 320px;
        overflow: hidden;
        .lh-22 {
          line-height: 22px;
        }
      }
      .icon {
        margin-left: auto;
      }
      span {
        margin-left: auto !important;
      }
    }

    button:focus {
      border-color: #000000;
      outline-style: none !important;
      box-shadow: none !important;
    }
  }

  &:last-child {
    margin-right: 0px;
  }
}

.width-280 {
  .dropdown-menu {
    width: 280px !important;
  }
}

.button-width-380 {
  .dropdown-trigger {
    button {
      width: 380px !important;

      @media only screen and (max-width: 1400px) {
        width: 350px !important;
      }
      @media only screen and (max-width: 1300px) {
        width: 320px !important;
      }
      @media only screen and (max-width: 1200px) {
        width: 290px !important;
      }
      @media only screen and (max-width: 1100px) {
        width: 200px !important;
      }
    }
  }
}
