.ant-select.treble-select-dropdown {
  @import "styles/rootStyles.scss";
  width: 100%;
  border: 1px solid #767676;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #202020;
  &:hover,&:active,&.ant-select-focused {
    border-color: #6464FF;
    box-shadow: none;
    .ant-select-selector {
      border: none !important;
      box-shadow: none !important;
    }
  }
  &:not(.ant-select-customize-input){
    height: 48px;
    .ant-select-selector {
      height: 100%;
      background: #202020;
      border-radius: 8px;
      border: none;
      .ant-select-selection-placeholder, .ant-select-selection-item {
        height: 100%;
        font-family: hk-grotesk-medium;
        font-style: normal;
        font-size: 16px;
        line-height: 21px;

        display: flex;
        align-items: center;
        .treble-icon {
          display: none;
        }
      }
      .ant-select-selection-item {
        color: #FFFFFF;
      }
      .ant-select-selection-placeholder {
        color: #767676;
      }
    }
    .ant-select-arrow {
      right: 20px;
    }
  } 
}

.ant-select-dropdown.treble-select-dropdown {
  padding: 0;
  border-radius: 2px;
  background-color: #000000;
  border-radius: 2px;
  .rc-virtual-list {
    .rc-virtual-list-holder {
      div {
        .rc-virtual-list-holder-inner {
          .ant-select-item {
            padding: 16px;
            background-color: transparent;
            &:hover {
              background: #393939;
            }
            .ant-select-item-option-content {
              font-family: hk-grotesk;
              font-size: 14px;
              line-height: 18px;

              color: #FFFFFF;
              display: flex;
              .treble-icon {
                margin-left: auto;
              }
            }
          }
        }
      }
    }
    .rc-virtual-list-scrollbar {
      .rc-virtual-list-scrollbar-thumb {
        background-color: #E6E6E6 !important;
      }
    }
  }
}