@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.custom-treble-loader::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: 5px solid #DEE5F7;
  border-bottom-color: #000000;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
}
