.warning-alert {
  background-color: #ffebe6;
  min-height: 40px;
  border-radius: 4px;
  text-align: left;
  font-size: 15px;
  line-height: 21px;
  color: #f06450;
  margin-top: 16px;
  .danger-icon {
    margin-right: 10px;
    padding-bottom: 4px;
  }
}
.select-hsm {
  margin-bottom: -15px;
}
